{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Юный писатель {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/booksstyle.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon.png' %}">
    <script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>
</head>
<body>
  <div class="nav">
    <div class="logo">
        <a href="{% url 'books' %}"><img src="{% static 'img/logoicon.png' %}" alt=""></a>
    </div>
      <div class="auth">
          {% if user.is_authenticated %}
          <p><a href="{% url 'lk' %}">{{user.username}}</a></p> <a href="{% url 'logout' %}">Выйти</a>
          {% else %}
          <a href="{% url 'login' %}">Вход</a>
          <a href="{% url 'reg' %}">Регистрация</a>
          {% endif %}
      </div>
  </div>
        {% block textedit %}
            <div class="textedit">

            </div>
        {% endblock textedit %}
  {% block buttons%}
    <div class="buttons">

    </div>
  {% endblock buttons%}
  {% block partcontainer %}
    <div class="partcontainer">
        {% block textcontainer %}
            <div class="textcontainer">

            </div>
        {% endblock textcontainer %}
    </div>
  {% endblock partcontainer %}
  {% block lkbook%}
    <div class="lkbook">
      {% block lkinfo %}
        <div class="lkbooks">
            {% block lkbooksinfo %}
                <div class="lkbooksinfo">
                </div>
            {% endblock lkbooksinfo %}
        </div>
      {% endblock lkinfo %}
    </div>
  {% endblock lkbook%}
{% block nav2 %}
  <div class="nav2">

    <div class="books_block">
      {% for show in bookshow %}
      <div class="currentbook">
          <a href="{% url 'insidebook' show.pk %}"><img src="/static/img/{{ show.book_img }}" alt=""></a>
          <div class="bookname">
              <h3>{{show.book_name}}</h3>
          </div>
      </div>
      {% endfor %}
    </div>
      {% block currentbookblock %}
      {% block bookimg %}
        <img src="" alt="">
      {% endblock bookimg %}
      {% endblock currentbookblock %}

  </div>
  {% endblock nav2 %}

  {% block regwindow %}
  {% endblock regwindow %}

{% block script %}
  <script>

  </script>
{% endblock script %}
  {% block footer %}
  <div class="footer">
      <div class="footer_info">
          <h2>Правила использования</h2>
      </div>
      <a class="footer_icons" href="https://vk.com/pashtetkostyan"><img src="/static/img/vk_icon2.svg" alt=""></a>
      <h2>2024</h2>
  </div>
  {% endblock footer %}
</body>
</html>