{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Юный писатель {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/booksstyle.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon.png' %}">
</head>
<body>
  <div class="nav">
    <div class="logo">
        <a href="{% url 'books' %}"><img src="{% static 'img/logoicon.png' %}" alt=""></a>
    </div>
      <div class="auth">
          {% if user.is_authenticated %}
          <p><a href="{% url 'lk' %}">{{user.username}}</a></p> <a href="{% url 'logout' %}">Выйти</a>
          {% else %}
          <a href="{% url 'login' %}">Вход</a>
          <a href="{% url 'reg' %}">Регистрация</a>
          {% endif %}
      </div>
  </div>
{% block nav2 %}
  <div class="nav2">

    <div class="books_block">
      {% for show in bookshow %}
      <div class="currentbook">
          <div class="bookcover">
              <a href="{% url 'insidebook' show.pk %}"><img src="/static/img/{{ show.book_img }}" alt=""></a>
          </div>
          <div class="bookname">
              <h3>{{show.book_name}}</h3>
              <h3>{{show.author}}</h3>
              {% if show.book_status_id == 1 %}
                <img class="svgicons" src="/static/img/Заброшено.svg" alt="">
              {% elif show.book_status_id == 2 %}
                <img class="svgicons" src="/static/img/В процессе.svg" alt="">
              {% elif show.book_status_id == 3 %}
                <img class="svgicons" src="/static/img/Завершено.svg" alt="">
              {% endif %}
              <h3>Жанры:</h3>
              <div class="genres">
                  {% for genre in show.genres.all %}
                    <a href="{% url 'genres' genre.id %}">{{genre.genre_name}}</a>
                  {% endfor %}
              </div>
              <h3>{{show.book_description}}</h3>
          </div>
      </div>
      {% endfor %}
    </div>
      {% block currentbookblock %}
      {% block bookimg %}
        <img src="" alt="">
      {% endblock bookimg %}
      {% block textedit %}
      {% endblock textedit %}
      {% endblock currentbookblock %}


  </div>
  {% endblock nav2 %}

  {% block footer %}
  <div class="footer">
      <div class="footer_info">
          <h2>Правила использования</h2>
      </div>
      <a class="footer_icons" href="https://vk.com/pashtetkostyan"><img src="/static/img/vk_icon2.svg" alt=""></a>
      <h2>2024</h2>
  </div>
  {% endblock footer %}
{% block script %}
  <script>

  </script>
{% endblock script %}

</body>
</html>