{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Юный писатель {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/booksstyle.css' %}">
</head>
<body>
  <div class="nav">
    <div class="logo">
        <a href="{% url 'books' %}"><img src="{% static 'img/logoicon.png' %}" alt=""></a>
    </div>
  </div>
  <div class="nav2">
      {% block nav2 %}
    <div class="books_block">
      {% for show in bookshow %}
      <div class="currentbook">
          <a href="{% url 'insidebook' show.pk %}"><img src="/static/img/{{ show.book_img }}" alt=""></a>
          <div class="bookname">
              <h3>{{show.book_name}}</h3>
          </div>
      </div>
      {% endfor %}
    </div>
      {% block bookimg %}
        <img src="" alt="">
      {% endblock bookimg %}

      {% endblock nav2 %}
  </div>
<!---->
    <div class="textedit">
        {% block textedit %}
        {% endblock textedit %}
    </div>
{% block script %}
  <script>

  </script>
{% endblock script %}

</body>
</html>