{% extends 'bookapp/baseshablon.html' %}
{%load static%}
{% block title %} Добавить главу {% endblock title %}

{% block nav2 %}

{% endblock nav2%}
	{% block textedit%}
    	<div class="textedit">
            <div class="partblock" id="partblock">
				<form method="post">
					{% csrf_token %}
					<p>Произведение: {{showbooks.book_name}}</p>
					<label for="part_name" id="part_name">Название главы:</label>
					<input type="text" name="part_name" placeholder="Название главы">
					<label for="part_content">Содержание:</label>
					<textarea name="part_content" id="part_content" cols="30"></textarea>
					<br>
    				<button class="button" type="submit">Добавить главу</button>
				</form>

			</div>
    	</div>
	{% endblock textedit %}

{% block script %}
        <script src="{% static 'js/ckeditor/sample/script.js'%}"></script>
{% endblock script %}
