{% extends 'bookapp/books.html' %}
{%load static%}
{% block title %} {% for name in books %} {{name.book_name}} {% endfor %}{% endblock title %}
{% block bookimg %}
    <div class="bookimg">
    {% for i in books %}
    <img src="/static/img/{{i.book_img}}" alt="">
        <div class="bookinfo">
            <h3>{{i.book_name}}</h3>
            <hr>
            <h3>Описание:</h3>
            <p>{{i.book_description}}</p>
        </div>
    {% endfor %}
    </div>
    {% block parts %}
        <div class="parts">
            <p>Содержание</p>
            {% for part in parts%}
                <a href="{% url 'read' part.pk %}">{{part.part_name}}</a>
            {% endfor %}
        </div>
    {% endblock parts%}
{% endblock bookimg %}