{% extends 'bookapp/books.html' %}
{%load static%}
{% block title %} {% for name in books %} {{name.book_name}} {% endfor %}{% endblock title %}
{% block currentbookblock %}
    <div class="currentbookblock">
        <div class="currentbookname">
            {% for i in books %}
                <h3>{{i.book_name}}</h3>
            {% endfor %}
        </div>

    {% block bookimg %}
        <div class="bookimg">
        {% for i in books %}
            <div class="bookinfo">
                <div class="statusandrating">
                {% if i.book_status_id == 1 %}
                <img class="currentsvgicons" src="/static/img/Заброшено.svg" alt="">
              {% elif i.book_status_id == 2 %}
                <img class="currentsvgicons" src="/static/img/В процессе.svg" alt="">
              {% elif i.book_status_id == 3 %}
                <img class="currentsvgicons" src="/static/img/Завершено.svg" alt="">
              {% endif %}
                    <form class="rating-area" method="post">
                        {% csrf_token %}
                        <button class="submrating" type="submit">✓</button>
                        <input type="radio" id="star-5" name="rating_value" value="5">
                        <label for="star-5" title="Оценка «5»"></label>
                        <input type="radio" id="star-4" name="rating_value" value="4">
                        <label for="star-4" title="Оценка «4»"></label>
                        <input type="radio" id="star-3" name="rating_value" value="3">
                        <label for="star-3" title="Оценка «3»"></label>
                        <input type="radio" id="star-2" name="rating_value" value="2">
                        <label for="star-2" title="Оценка «2»"></label>
                        <input type="radio" id="star-1" name="rating_value" value="1">
                        <label for="star-1" title="Оценка «1»"></label>
                    </form>
                </div>
                <div class="author"><h3>Автор: </h3><p class="author_block">{{i.author}}</p></div>
                <div class="currentgenres">
                    <h3 class="genres_block">Жанры:</h3>
                {% for genre in i.genres.all %}
                    <a href="{% url 'genres' genre.id %}">{{genre.genre_name}}</a>
                  {% endfor %}
                </div>
                <p class="book_description">{{i.book_description}}</p>
            </div>
	{% block book_img %}
	    <div class="book_img">
           	 <img src="/static/img/{{i.book_img}}" alt="">
            <a href="{% url 'report_book' i.pk %}">
								<button type="button" class="css-button">
								<span class="css-button-icon">
								<i class="fa fa-legal"></i>
								</span>
								<span class="css-button-text">
								<span>Пожаловаться</span>
								</span>
							</button>
							</a>
	    </div>
	{% endblock book_img %}
        {% endfor %}
        </div>
        {% endblock bookimg %}
        {% block parts %}
            <div class="parts">
		<h3>Содержание</h3>
		{% block parts_block %}
		<div class="parts_block">
                {% for part in parts%}
		    <div class="part_a_div">
		    <div class="part_a_mark">
		    </div>
                    <a href="{% url 'read' part.pk %}">{{part.part_name}}</a>
	            </div>
                {% endfor %}
		</div>
		{% endblock parts_block %}

            </div>
        {% endblock parts%}
    </div>
{% endblock currentbookblock %}
