{% extends 'bookapp/baseshablon.html' %}
{%load static%}
{% block title %} Добавить главу {% endblock title %}

{% block nav2 %}

{% endblock nav2%}
	{% block textedit%}
    	<div class="textedit">
            <div class="partblock" id="partblock">
				<div class="createbook">
				<form method="post">
					{% csrf_token %}
					<p>Произведение: {{showbooks.book_name}}</p>
					<label class="chaptername_label" for="part_name" id="part_name"><p>Название главы:</p></label>
					<input type="text" name="part_name" value="{{partshow.part_name}}">
					<label for="part_content"><p>Содержание:</p></label>
					<textarea name="part_content" id="part_content" cols="30">{{partshow.part_content}}</textarea>
					<br>
    				<button class="button" type="submit">Сохранить главу</button>
				</form>
				</div>
			</div>
    	</div>
	{% endblock textedit %}

{% block script %}
        <script src="{% static 'js/ckeditor/sample/script.js'%}"></script>
{% endblock script %}
