{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Юный писатель | Новости</title>
</head>
<body>
	<div class="nav">
		<div class="logo">
			<a href="{% url 'main' %}"><img src="{%static 'img/cadrlogo.png'%}" alt=""></a>
		</div>
			<div class="nav_button">
					<ul>
						<li>
							<a href="{% url 'main' %}"><p>Каталог</p></a>
						</li>
						<li><a href="{% url 'main' %}"><p>Новинки</p></a></li>
						<li><a href="{% url 'events' %}"><p>Ограниченное событие</p></a></li>
					</ul>
			</div><!--div class="nav_button"-->
		<div class="profile">
			<div class="profile_name">
				<div class="list">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-list" viewBox="0 0 16 16">
  					<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
					</svg>
				</div>
				<p>ПСЕВДОНИМ</p>
			</div><!--div class="profile_name"-->
			<div class="profile_img">
				<img src="{% static 'img/profile_img.png' %}" alt="Аватар пользователя">
			</div><!--div class="profile_img"-->
		</div><!--div class="profile"-->
	</div><!--div class="nav"-->
	<div class="container">
		<h1>Новости</h1>
		<div class="newblock">
			{% for new in news %}
			<div class="currentnew">
				<h1>{{ new.news_name }}</h1>
				<hr>
				<img src="/static/img/{{ new.news_image }}" alt="">
				<p>{{ new.news_time }}</p>
				<p>{{ new.news_contains }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>