{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Юный писатель | Новости</title>
</head>
<body>
	<div class="nav">
		<div class="logo">
			<a href="{% url 'main' %}"><img src="{%static 'img/cadrlogo.png'%}" alt=""></a>
		</div>
		{% for i in categoryshow %}
			<div class="nav_button">
					<ul>
						<li>
							<p>{{ i.category }}</p>
						</li>
					</ul>
			</div><!--div class="nav_button"-->
		{% endfor %}
	</div><!--div class="nav"-->

</body>
</html>