{% extends 'bookapp/baseshablon.html' %}
{%load static%}

{% block title %} Личный кабинет {{user.name}} {% endblock title %}

{% block lkbook %}
    <div class="lkbook">
        {% block lkinfo %}
            <div class="lkinfo">
                {% for book in showbooks %}
                {% block lkbooksinfo %}
                    <div class="lkbooksinfo">
                            <img src="/static/img/{{book.book_img}}" alt="">
                            <div class="bookdescription">
                                <p>Произведение: {{ book.book_name }}</p>
                                <p>Главы:</p>
                                {% for part in book.parts.all %}
                                    <p>{{ part.part_name }}</p>
                                {% endfor %}
                                <a href="{% url 'createglava' book.pk %}">Добавить главу</a>
                            </div>
                    </div>
                {% endblock lkbooksinfo %}
                {% endfor %}
            </div>
        {% endblock lkinfo %}
    </div>
{% endblock lkbook %}