{% extends 'bookapp/baseshablon.html' %}
{%load static%}

{% block title %} Личный кабинет {{user.name}} {% endblock title %}

{% block lkbook %}
    <div class="lkbook">
        {% block lkinfo %}
            <div class="lkinfo">
                {% for i in showbooks %}
                {% block lkbooksinfo %}
                    <div class="lkbooksinfo">
                            <img src="/static/img/{{i.book_img}}" alt="">
                            <div class="bookdescription">
                                <p>{{i.book_name}}</p>
                            </div>
                            <a href="{% url 'createglava' i.pk %}">ss</a>
                    </div>
                {% endblock lkbooksinfo %}
                {% endfor %}
            </div>
        {% endblock lkinfo %}
    </div>
{% endblock lkbook %}