{% extends 'bookapp/baseshablon.html' %}
{%load static%}

{% block title %} Личный кабинет {{user.name}} {% endblock title %}

        {% block buttons%}
            <div class="buttons">
                <a href="{% url 'createbook' %}">Добавить книгу</a>
            </div>
        {% endblock buttons %}

{% block lkbook %}
    <div class="lkbook">
        {% block lkinfo %}
            <div class="lkinfo">
                {% for book in showbooks %}
                {% block lkbooksinfo %}
                    <div class="lkbooksinfo">
                            <img src="/static/img/{{book.book_img}}" alt="">
                            <div class="bookdescription">
                                <p>Произведение: {{ book.book_name }}</p>
                                <p>Главы:</p>
                                {% for part in book.parts.all %}
                                    <a href="{% url 'edit_part' part.pk part.book.id %}"><p>{{ part.part_name }}</p></a>
                                {% endfor %}
                                <a href="{% url 'createglava' book.pk %}">Добавить главу</a>
                            </div>
                    </div>
                {% endblock lkbooksinfo %}
                {% endfor %}
            </div>
        {% endblock lkinfo %}
    </div>
{% endblock lkbook %}
{% block footer %}
  <div class="footer">
      <div class="footer_info">
          <h2>Правила использования</h2>
      </div>
      <a class="footer_icons" href="https://vk.com/pashtetkostyan"><img src="/static/img/vk_icon2.svg" alt=""></a>
      <h2>2024</h2>
  </div>
  {% endblock footer %}