{% extends 'bookapp/baseshablon.html' %}
{%load static%}

{% block title%}Авторизация{% endblock title %}
{% block nav2 %}
{% endblock nav2 %}

{% block regwindow %}
<div class="regwindow">
    <div class="formback">
        <h1>Авторизация</h1>
        <div class="currentform">

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit" class="submit">Войти</button></p>
    </form>
        </div>
	</div>
</div>
{% endblock regwindow %}
{% block footer %}
  <div class="footer">
      <div class="footer_info">
          <h2>Правила использования</h2>
      </div>
      <a class="footer_icons" href="https://vk.com/pashtetkostyan"><img src="/static/img/vk_icon2.svg" alt=""></a>
      <h2>2024</h2>
  </div>
  {% endblock footer %}