{% extends 'bookapp/baseshablon.html' %}
{%load static%}
{% block title %} {% endblock title %}


{% block partcontainer %}
    <div class="partcontainer">
         {% block textcontainer %}
            <div class="textcontainer">
                {% for i in parts %}
                     <p class="part_name">{{i.part_name}}</p>
                    <div class="text">{{i.part_content|safe}}</div>
                {% endfor %}
            </div>
        {% endblock textcontainer %}
    </div>
{% endblock partcontainer %}