{% extends 'bookapp/baseshablon.html' %}
{%load static%}
{% block title %}{% for i in parts %}{{i.part_name}}{% endfor %}{% endblock title %}


{% block partcontainer %}
    <div class="partcontainer">
	{% block textcontainer %}
   		 <div class="textcontainer">
                
                {% for i in parts %}
		     <div class="read_info"><div class="currentnamebook"><h3>Вы читаете:</h3><p>{{i.book}}</p></div>
			<div class="currentauthorbook"><h3>Автор:</h3><p>{{author.username}}</p></div>
			</div>
                     <h3 class="part_name">{{i.part_name}}</h3>
                    <div class="text">{{i.part_content|safe}}</div>
                {% endfor %}
		    </div>
	{% endblock textcontainer %}
		<div class="comments">
			<div class="comment_header"><h3>Комментарии</h3></div>
			<div class="postyourcom">
				 {% if user.is_authenticated %}
					<form class="commentform" method="post">
						{% csrf_token %}
						<label for="comment_text"><p>Текст комментария:</p></label>
						<textarea name="comment_text" id="comment_text" cols="30"></textarea>
						<br>
						<button class="sendcom" type="submit">Опубликовать комментарий</button>
					</form>
         		 {% else %}
					<h3>Для отправки комментария необходимо <a href="{% url 'login' %}">авторизироваться!</a></h3>
				 {% endif %}
			</div>
			<div class="comment_placeholder">
				{% for i in comments %}
					<div class="comment_holder">
						<div class="commentauthor_info">
							<img src="../static/img/{{i.comment_author.photo}}" alt="">
							<p class="comment_author">{{i.comment_author}}</p>
							<p class="comment_author">{{i.comment_date}}</p>
							<a href="{% url 'report_comment' i.part.book.id i.pk %}">
								<button type="button" class="css-button">
								<span class="css-button-icon">
								<i class="fa fa-legal"></i>
								</span>
								<span class="css-button-text">
								<span>Пожаловаться</span>
								</span>
							</button>
							</a>
						</div>

						<div class="comment_text">
							{{i.comment_text | safe}}
						</div>

					</div>
				{% endfor %}
			</div>

		</div>

    </div>
{% endblock partcontainer %}
{% block script %}
        <script src="{% static 'js/ckeditor/sample/comment_script.js'%}"></script>
{% endblock script %}
