{% extends 'bookapp/baseshablon.html' %}
{%load static%}
{% block title %}{% for i in parts %}{{i.part_name}}{% endfor %}{% endblock title %}


{% block partcontainer %}
    <div class="partcontainer">
	{% block textcontainer %}
   		 <div class="textcontainer">
                
                {% for i in parts %}
		     <div class="read_info"><div class="currentnamebook"><h3>Вы читаете:</h3><p>{{i.book}}</p></div>
			<div class="currentauthorbook"><h3>Автор:</h3><p>{{author.username}}</p></div>
			</div>
                     <h3 class="part_name">{{i.part_name}}</h3>
                    <div class="text">{{i.part_content|safe}}</div>
                {% endfor %}
		    </div>
	{% endblock textcontainer %}

    </div>
{% endblock partcontainer %}
