{% extends 'bookapp/baseshablon.html' %}
{%load static%}
{% block title %} Пожаловаться на комментарий {% endblock title %}

{% block reportblock %}
    <div class="reportblock">
        {% for comments in comments%}
        <h1>Жалоба на комментарий пользователя {{comments.comment_author}}</h1>
        {% endfor %}
        <div class="report_form">
            <form method="post">
                {% csrf_token %}
                <label for="report_theme"><p>Тема жалобы:</p></label>
                <input type="text" name="report_theme" id="report_theme">
                <label for="report_content"><p>Содержание жалобы:</p></label>
                <textarea name="report_content" id="report_content" cols="60" rows="10"></textarea>
                <button type="submit">Отправить жалобу</button>
            </form>
        </div>
    </div>
{% endblock reportblock %}