/* Константы */
*{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'myfont';
	src: url(../fonts/myfont.ttf);
}

body{
	background: #473D3D;
}

.nav{
	height:150px;
	width: 100%;
	position:fixed;
	background: #2F1A1A;
	z-index:9999;
}
.logo{
    margin-left:4%;
}

.nav2{
    height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

.books_block{
    width:90%;
    height:100%;
    margin-top:10%;
    background:#E4CBBA;
    display:flex;
    flex-wrap: wrap;
}

.currentbook{
    transition:0.5s;
    position:relative;
    margin:1.5%;
    width: 17%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end
}

.currentbook h3{
    z-index:1;
    padding-top: 5.5%;
    padding-bottom:5.5%;
    color:#E4CBBA;
    font-family:myfont;
}

.currentbook img{
    display: block;
    width: 100%;
    height:50%;
}

.currentbook:hover{
    transition:0.5s;
    transform: scale(1.1);

}

.bookname{
    background:#2f1a1aa8;
    width:100%;
    display:flex;
    justify-content: center;
    position:absolute;
}
.bookimg{
    width:100%;
    display:flex;
    margin-left:5%;
}

.bookimg h3{
    z-index:1;
    padding:2.5%;
    color:#E4CBBA;
    font-family:myfont;
}
.bookimg p{
    z-index:1;
    padding:2.5%;
    color:#E4CBBA;
    font-family:myfont;
}

.bookimg img{
   width:20%;
}

.bookinfo{
    width:75%;
    display:flex;
    flex-direction: column;
}
