*{
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
}
/* Навигация */
.nav{
	display: flex;
	width: 100%;
	background: #FF7340;	
}

.nav_button{
	padding: 2.5%;
	transition: 0.5s;
	cursor: pointer;
}

.nav_button:hover{
	background: #BF5730;
	transition: 0.5s;
}
.nav_button p{
	font-size: 25px;
	color: white;
	font-family: Calibri;
	font-weight: 400;
}

/* Конец навигации */
